.login-panel.active {
    left: 0;
}


/* Fondo oscuro */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

/* Panel lateral */
.login-panel {
    position: fixed;
    top: 0;
    left: -35%;
    width: 35%;
    height: 100%;
    background: #fff;
    padding: 40px;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.2);
    transition: left 0.4s ease;
    z-index: 11;
}

/* Estado activo */
.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Contenedor: SOLO posición */
.btn-login {
    position: absolute;
    right: 60px;
    top: 230px;
}

/* Botón visual */
.btn-login button {
    background: var(--primary);
    color: var(--light);

    padding: 10px 28px;
    border-radius: 30px;

    border: none;
    outline: none;
    box-shadow: none;

    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

    transition: all 0.25s ease;
}

/* Hover bonito */
.btn-login button:hover {
    background: var(--light);
    color: var(--primary);
}

/* Click */
.btn-login button:active {
    transform: scale(0.95);
}

/* Evita borde feo al click */
.btn-login button:focus {
    outline: none;
    box-shadow: none;
}