/* CONTENEDOR GENERAL */
.carrusel {
    position: relative;
    display: flex;
    align-items: center;
}

/* VENTANA (recorta) */
.carrusel-viewport {
    overflow: hidden;
    width: 100%;
}

/* PISTA QUE SE MUEVE */
.carrusel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease;
}

/* TARJETA */
.postre-card {
    width: 330px;
    flex-shrink: 0;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* IMAGEN */
.postre-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

/* FLECHAS */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 77, 166, 0.9);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: -20px;
}

.arrow.right {
    right: -20px;
}

/* HOVER */
.hover-info {
    position: absolute;
    inset: 0;
    background: rgba(255, 182, 213, 0.95);
    opacity: 0;
    transition: opacity 0.3s;
    padding: 15px;
}

.postre-card:hover .hover-info {
    opacity: 1;
}