/* Estilos base del sitio */
:root {
    --primary: #ff6299;
    --primary-light: #ff9ac3;
    --text: #333;
    --background: #fff6fb;
}

/* Fondo general */
body {
    margin: 0;
    background-color: #606180;
    font-family: Arial, Helvetica, sans-serif;
}