/* ================================
   IMPORTS
================================ */
@import url('base.css');
@import url('utils.css');
@import url('components/form.css');
@import url('components/nav.css');
@import url('layout.css');

@import url('pages/index.css');
@import url('pages/postres.css');
@import url('pages/detalles.css');
@import url('pages/flores.css');
@import url('pages/contactanos.css');
@import url('pages/login.css');


/* ================================
   PALETA DE COLORES (variables)
================================ */




/* ================================
   ESTILOS GENERALES
================================ */

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    background-color: white;
    color: var(--dark);
}

/* Textos */
h1,
h2,
h3 {
    font-family: var(--font-title);
    font-weight: normal;
    color: var(--dark);
}

p {
    font-family: var(--font-text);
    color: var(--gray);
}

/* Enlaces */
a {
    font-family: var(--font-text);
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s;
}

a:hover {
    color: var(--secondary);
}

/* Botones base */
button {
    background: var(--primary);
    color: var(--light);
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--secondary);
}