.carrusel-section {
    padding: 3rem 4rem;
    margin-top: 2rem;
}

.carrusel-section h2 {
    padding-left: 4rem;
}

.carrusel {
    position: relative;
    overflow: hidden;
}

.carrusel-track {
    display: flex;
    gap: 0.7rem;
    transition: transform 0.4s ease;
    padding: 2rem 4rem;
}

/* BOTONES */
.carrusel-btn {
    position: absolute;
    top: 40%;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 20;
    padding: 0.3rem 0.8rem;
}

.carrusel-btn.left {
    left: 0;
}

.carrusel-btn.right {
    right: 0;
}

.producto-card {
    position: relative;
    width: 480px;
    height: 280px;
    flex-shrink: 0;
    cursor: pointer;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(201, 166, 194, 0.978);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.producto-card:hover {
    transform: scale(1.15);
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    z-index: 20;
}

.producto-info{
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.4),
        transparent
    );
    color: white;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    backdrop-filter: blur(2px);
}

.producto-info h3 {
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
}
.producto-card:hover .producto-info {
    opacity: 1;
}

.precio {
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffb3c7;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.overlay-cont{
    background: white;
    border-radius: 16px;
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.overlay-cont img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.cerrar-btn{
    position: absolute;
    top: 10px;
    right: 14px;
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.ocultar{
    display: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
