/* --- Contenedor general del navbar (solo fondo para el título) --- */
.navbar {
    background: var(--light);
    /* Fondo fuerte */
    padding: 15px 0 0 0;
    /* Quitamos padding abajo para que el menú sea independiente */
}

/* --- Título centrado --- */
.navbar-title {
    display: flex;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    width: 100%;
    /* ocupa todo el ancho */
    padding: 20px 0;
}


.navbar-title h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: #333;

}

/* --- Fila del menú (con su fondo separado) --- */
.navbar-menu {
    background: var(--primary);
    /* Rosado claro */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    border-top: 10px solid var(--gray);
    /* línea sutil entre título y menú */
}

/* --- Enlaces del menú --- */
.navbar-menu ul {
    list-style: none;
    display: flex;
    gap: 70px;
    margin: 0;
    padding: 0;
}

.navbar-menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--light);
}

/* --- Botón de iniciar sesión (derecha) --- */
.btn-login {
    position: absolute;
    right: 60px;
    top: 120px;
    background: var(--primary);
    padding: 8px 16px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--light);

    text-decoration: none;
}

.btn-login:hover {
    background: var(--light);
    border-color: var(--gray);
}

.logo {
    height: 150px;
    width: auto;
    object-fit: contain;
    display: block;
}